In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
file_dir = '../Movies-ETL/Data'

In [3]:
f'{file_dir}/wikipedia-movies.json'

'../Movies-ETL/Data/wikipedia-movies.json'

In [4]:
with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [5]:
len(wiki_movies_raw)

7311

In [6]:
# First 5 records
wiki_movies_raw[:5]

[{'url': 'https://en.wikipedia.org/wiki/The_Adventures_of_Ford_Fairlane',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098987/',
  'title': 'The Adventures of Ford Fairlane',
  'Directed by': 'Renny Harlin',
  'Produced by': ['Steve Perry', 'Joel Silver'],
  'Screenplay by': ['David Arnott', 'James Cappe', 'Daniel Waters'],
  'Story by': ['David Arnott', 'James Cappe'],
  'Based on': ['Characters', 'by Rex Weiner'],
  'Starring': ['Andrew Dice Clay',
   'Wayne Newton',
   'Priscilla Presley',
   'Lauren Holly',
   'Morris Day',
   'Robert Englund',
   "Ed O'Neill"],
  'Narrated by': 'Andrew "Dice" Clay',
  'Music by': ['Cliff Eidelman', 'Yello'],
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Michael Tronick',
  'Productioncompany ': 'Silver Pictures',
  'Distributed by': '20th Century Fox',
  'Release date': ['July 11, 1990', '(', '1990-07-11', ')'],
  'Running time': '102 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$21.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/After_Dark,_My_Sweet',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0098994/',
  'title': 'After Dark, My Sweet',
  'Directed by': 'James Foley',
  'Produced by': ['Ric Kidney', 'Robert Redlin'],
  'Screenplay by': ['James Foley', 'Robert Redlin'],
  'Based on': ['the novel', 'After Dark, My Sweet', 'by', 'Jim Thompson'],
  'Starring': ['Jason Patric',
   'Rachel Ward',
   'Bruce Dern',
   'George Dickerson'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Mark Plummer',
  'Edited by': 'Howard E. Smith',
  'Productioncompany ': 'Avenue Pictures',
  'Distributed by': 'Avenue Pictures',
  'Release date': ['May 17, 1990',
   '(',
   '1990-05-17',
   ')',
   '(Cannes Film Market)',
   'August 24, 1990',
   '(',
   '1990-08-24',
   ')',
   '(United States)'],
  'Running time': '114 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$6 million',
  'Box office': '$2.7 million'},
 {'url': 'https://en.wikipedia.org/wiki/Air_America_(film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099005/',
  'title': 'Air America',
  'Directed by': 'Roger Spottiswoode',
  'Produced by': 'Daniel Melnick',
  'Screenplay by': ['John Eskow', 'Richard Rush'],
  'Based on': ['Air America', 'by', 'Christopher Robbins'],
  'Starring': ['Mel Gibson',
   'Robert Downey Jr.',
   'Nancy Travis',
   'David Marshall Grant',
   'Lane Smith'],
  'Music by': 'Charles Gross',
  'Cinematography': 'Roger Deakins',
  'Edited by': ['John Bloom', 'Lois Freeman-Fox'],
  'Productioncompany ': ['Carolco Pictures', 'IndieProd Company'],
  'Distributed by': 'TriStar Pictures',
  'Release date': ['August 10, 1990', '(', '1990-08-10', ')'],
  'Running time': '113 minutes',
  'Country': 'United States',
  'Language': ['English', 'Lao'],
  'Budget': '$35 million',
  'Box office': '$57,718,089'},
 {'url': 'https://en.wikipedia.org/wiki/Alice_(1990_film)',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099012/',
  'title': 'Alice',
  'Directed by': 'Woody Allen',
  'Produced by': 'Robert Greenhut',
  'Written by': 'Woody Allen',
  'Starring': ['Alec Baldwin',
   'Blythe Danner',
   'Judy Davis',
   'Mia Farrow',
   'William Hurt',
   'Keye Luke',
   'Joe Mantegna',
   'Bernadette Peters'],
  'Cinematography': 'Carlo Di Palma',
  'Edited by': 'Susan E. Morse',
  'Distributed by': 'Orion Pictures',
  'Release date': ['December 25, 1990', '(', '1990-12-25', ')'],
  'Running time': '106 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$12 million',
  'Box office': '$7,331,647'},
 {'url': 'https://en.wikipedia.org/wiki/Almost_an_Angel',
  'year': 1990,
  'imdb_link': 'https://www.imdb.com/title/tt0099018/',
  'title': 'Almost an Angel',
  'Directed by': 'John Cornell',
  'Produced by': 'John Cornell',
  'Written by': 'Paul Hogan',
  'Starring': ['Paul Hogan', 'Elias Koteas', 'Linda Kozlowski'],
  'Music by': 'Maurice Jarre',
  'Cinematography': 'Russell Boyd',
  'Edited by': 'David Stiven',
  'Distributed by': 'Paramount Pictures',
  'Release date': 'December 19, 1990',
  'Running time': '95 minutes',
  'Country': 'US',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$6,939,946 (USA)'}]

In [7]:
# Last 5 records
wiki_movies_raw[-5:]

[{'url': 'https://en.wikipedia.org/wiki/Holmes_%26_Watson',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt1255919/',
  'title': 'Holmes & Watson',
  'Directed by': 'Etan Cohen',
  'Produced by': ['Will Ferrell',
   'Adam McKay',
   'Jimmy Miller',
   'Clayton Townsend'],
  'Screenplay by': 'Etan Cohen',
  'Based on': ['Sherlock Holmes',
   'and',
   'Dr. Watson',
   'by',
   'Sir Arthur Conan Doyle'],
  'Starring': ['Will Ferrell',
   'John C. Reilly',
   'Rebecca Hall',
   'Rob Brydon',
   'Steve Coogan',
   'Ralph Fiennes'],
  'Music by': 'Mark Mothersbaugh',
  'Cinematography': 'Oliver Wood',
  'Edited by': 'Dean Zimmerman',
  'Productioncompanies ': ['Columbia Pictures',
   'Gary Sanchez Productions',
   'Mosaic Media Group',
   'Mimran Schur Pictures'],
  'Distributed by': 'Sony Pictures Releasing',
  'Release date': ['December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '90 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$42 million',
  'Box office': '$41.9 million'},
 {'url': 'https://en.wikipedia.org/wiki/Vice_(2018_film)',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt6266538/',
  'title': 'Vice',
  'Directed by': 'Adam McKay',
  'Produced by': ['Brad Pitt',
   'Dede Gardner',
   'Jeremy Kleiner',
   'Kevin J. Messick',
   'Will Ferrell',
   'Adam McKay'],
  'Written by': 'Adam McKay',
  'Starring': ['Christian Bale',
   'Amy Adams',
   'Steve Carell',
   'Sam Rockwell',
   'Tyler Perry',
   'Alison Pill',
   'Lily Rabe',
   'Jesse Plemons'],
  'Music by': 'Nicholas Britell',
  'Cinematography': 'Greig Fraser',
  'Edited by': 'Hank Corwin',
  'Productioncompany ': ['Plan B Entertainment',
   'Gary Sanchez Productions',
   'Annapurna Pictures'],
  'Distributed by': 'Mirror Releasing',
  'Release date': ['December 11, 2018',
   '(',
   '2018-12-11',
   ')',
   '(',
   'Samuel Goldwyn Theater',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '132 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$60 million',
  'Box office': '$76.1 million'},
 {'url': 'https://en.wikipedia.org/wiki/On_the_Basis_of_Sex',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt4669788/',
  'title': 'On the Basis of Sex',
  'Directed by': 'Mimi Leder',
  'Produced by': 'Robert W. Cort',
  'Written by': 'Daniel Stiepleman',
  'Starring': ['Felicity Jones',
   'Armie Hammer',
   'Justin Theroux',
   'Sam Waterston',
   'Kathy Bates'],
  'Music by': 'Mychael Danna',
  'Cinematography': 'Michael Grady',
  'Edited by': 'Michelle Tesoro',
  'Productioncompanies ': ['Focus Features',
   '[1]',
   'Participant Media',
   '[1]',
   'Robert Cort Productions',
   '[1]',
   'Alibaba Pictures',
   '[2]'],
  'Distributed by': 'Focus Features',
  'Release date': ['November 8, 2018',
   '(',
   '2018-11-08',
   ')',
   '(',
   'AFI Fest',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '120 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$38.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/Destroyer_(2018_film)',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt7137380/',
  'title': 'Destroyer',
  'Directed by': 'Karyn Kusama',
  'Produced by': ['Fred Berger', 'Phil Hay', 'Matt Manfredi'],
  'Written by': ['Phil Hay', 'Matt Manfredi'],
  'Starring': ['Nicole Kidman',
   'Sebastian Stan',
   'Toby Kebbell',
   'Tatiana Maslany',
   'Bradley Whitford',
   'Jade Pettyjohn',
   'Scoot McNairy'],
  'Music by': 'Theodore Shapiro',
  'Cinematography': 'Julie Kirkwood',
  'Edited by': 'Plummy Tucker',
  'Productioncompany ': ['30West',
   'Automatik Entertainment',
   'Annapurna Pictures'],
  'Distributed by': 'Mirror Releasing',
  'Release date': ['August 31, 2018',
   '(',
   '2018-08-31',
   ')',
   '(',
   'Telluride',
   ')',
   'December 25, 2018',
   '(',
   '2018-12-25',
   ')',
   '(United States)'],
  'Running time': '123 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$9 million',
  'Box office': '$5.5 million'},
 {'url': 'https://en.wikipedia.org/wiki/Black_Mirror:_Bandersnatch',
  'year': 2018,
  'imdb_link': 'https://www.imdb.com/title/tt9495224/',
  'title': 'Bandersnatch',
  'Directed by': 'David Slade',
  'Produced by': 'Russell McLean',
  'Written by': 'Charlie Brooker',
  'Starring': ['Fionn Whitehead',
   'Will Poulter',
   'Craig Parkinson',
   'Alice Lowe',
   'Asim Chaudhry'],
  'Music by': 'Brian Reitzell',
  'Cinematography': ['Aaron Morton', 'Jake Polonsky'],
  'Edited by': 'Tony Kearns',
  'Productioncompany ': ['House of Tomorrow', 'Netflix'],
  'Distributed by': 'Netflix',
  'Release date': ['28 December 2018', '(', '2018-12-28', ')'],
  'Running time': 'Variable; 90 minutes for default path',
  'Country': 'United Kingdom',
  'Language': 'English'}]

In [8]:
# Some records in the middle
wiki_movies_raw[3600:3605]

[{'url': 'https://en.wikipedia.org/wiki/Benji:_Off_the_Leash!',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315273/',
  'title': 'Benji: Off the Leash!',
  'Directed by': 'Joe Camp',
  'Written by': 'Joe Camp',
  'Starring': ['Benji', 'Nick Whitaker', 'Shaggy', 'Gypsy the Cockatoo'],
  'Music by': 'Antonio di Lorenzo',
  'Productioncompany ': 'Mulberry Square Productions',
  'Distributed by': 'Mulberry Square Productions',
  'Release date': ['March 26, 2004', '(', '2004-03-26', ')'],
  'Running time': '97 min',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$3,817,362'},
 {'url': 'https://en.wikipedia.org/wiki/The_Best_Thief_in_the_World',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0389796/',
  'title': 'The Best Thief in the World',
  'Directed by': 'Jacob Kornbluth',
  'Produced by': ['Tim Perrell', 'Nicola Usborne'],
  'Written by': 'Jacob Kornbluth',
  'Starring': ['Marc Rozendaal',
   'Michael Silverman',
   'David Warshofsky',
   'Audra McDonald',
   'Lois Smith'],
  'Music by': ['Prince Paul', 'and', 'Don Newkirk'],
  'Cinematography': 'Ben Kutchins',
  'Edited by': 'Stephanie Sterner',
  'Distributed by': 'Showtime Networks',
  'Release date': ['January 16, 2004', '(', '2004-01-16', ')'],
  'Running time': '93 minutes',
  'Country': 'United States',
  'Language': 'English'},
 {'url': 'https://en.wikipedia.org/wiki/Beyond_the_Sea_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0363473/',
  'title': 'Beyond the Sea',
  'Directed by': 'Kevin Spacey',
  'Produced by': ['Kevin Spacey',
   'Phillip Barry',
   'Dana Brunetti',
   'Arthur Friedman',
   'Jan Fantl',
   'Andy Paterson'],
  'Written by': ['Lewis Colick', 'Kevin Spacey'],
  'Starring': ['Kevin Spacey', 'Kate Bosworth', 'Bob Hoskins', 'John Goodman'],
  'Music by': 'Bobby Darin',
  'Cinematography': 'Eduardo Serra',
  'Edited by': 'Trevor Waite',
  'Productioncompany ': 'Trigger Street Productions',
  'Distributed by': ['Lionsgate Films',
   '(USA)',
   'Entertainment Film Distributors',
   '(UK)',
   'GAGA',
   '(Japan)',
   'Maple Pictures',
   '(Canada)'],
  'Release date': ['December 17, 2004', '(', '2004-12-17', ')'],
  'Running time': '118 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$25 million',
  'Box office': '$8.4 million'},
 {'url': 'https://en.wikipedia.org/wiki/The_Big_Bounce_(2004_film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0315824/',
  'title': 'The Big Bounce',
  'Directed by': 'George Armitage',
  'Produced by': ['George Armitage', 'Steve Bing'],
  'Screenplay by': 'Sebastian Gutierrez',
  'Based on': ['The Big Bounce', 'by', 'Elmore Leonard'],
  'Starring': ['Owen Wilson',
   'Charlie Sheen',
   'Morgan Freeman',
   'Sara Foster',
   'Gary Sinise'],
  'Music by': 'George S. Clinton',
  'Cinematography': 'Jeffrey L. Kimball',
  'Edited by': 'Barry Malkin',
  'Productioncompany ': 'Shangri-La Entertainment',
  'Distributed by': 'Warner Bros. Pictures',
  'Release date': ['January 30, 2004', '(', '2004-01-30', ')'],
  'Running time': '88 minutes',
  'Language': 'English',
  'Budget': '$50 million',
  'Box office': '$6.8 million'},
 {'url': 'https://en.wikipedia.org/wiki/Birth_(film)',
  'year': 2004,
  'imdb_link': 'https://www.imdb.com/title/tt0337876/',
  'title': 'Birth',
  'Directed by': 'Jonathan Glazer',
  'Produced by': ['Lizie Gower', 'Nick Morris', 'Jean-Louis Piel'],
  'Written by': ['Jean-Claude Carrière', 'Milo Addica', 'Jonathan Glazer'],
  'Starring': ['Nicole Kidman',
   'Cameron Bright',
   'Danny Huston',
   'Lauren Bacall'],
  'Music by': 'Alexandre Desplat',
  'Cinematography': 'Harris Savides',
  'Edited by': ['Sam Sneade', 'Claus Wehlisch'],
  'Distributed by': 'New Line Cinema',
  'Release date': ['November 8, 2004', '(', '2004-11-08', ')'],
  'Running time': '96 minutes',
  'Country': 'United States',
  'Language': 'English',
  'Budget': '$20 million',
  'Box office': '$23.9 million'}]

In [9]:
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [10]:
len(kaggle_metadata)

45466

In [11]:
# First 5 records
kaggle_metadata[:5]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [12]:
# Last 5 records
kaggle_metadata[-5:]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [13]:
# Some records in the middle
kaggle_metadata[10000:10050]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
10000,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.newline.com/properties/yearoftheyao...,14287,tt0360216,en,The Year of the Yao,The Year of the Yao is a documentary film tell...,...,2004-09-16,38585.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Year of the Yao,False,5.5,2.0
10001,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",http://www.houseofdthemovie.com/,24363,tt0372334,en,House of D,An American artist living a bohemian existence...,...,2005-04-15,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,House of D,False,6.2,24.0
10002,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,13073,tt0362004,en,Palindromes,"Aviva is thirteen, awkward and sensitive. Her ...",...,2004-09-03,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Palindromes,False,6.5,48.0
10003,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,35384,tt0398971,en,Down and Derby,A local Pinewood Derby competition transforms ...,...,2005-04-15,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Down and Derby,False,4.1,5.0
10004,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,113178,tt0192766,en,A Wake in Providence,NaN,...,1999-01-01,402805.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,A Wake in Providence,False,0.0,0.0
10005,False,NaN,30000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,8976,tt0391304,en,A Lot Like Love,"On a flight from Los Angeles to New York, Oliv...",...,2005-04-22,42886719.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's nothing better than a great romance......,A Lot Like Love,False,6.5,329.0
10006,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,27360,tt0388183,en,King's Ransom,Hoping to foil his own gold-digging wife's pla...,...,2005-04-22,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,King's Ransom,False,5.1,14.0
10007,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,29078,tt0354595,en,The Game of Their Lives,"Based on a true story, this film tells the tal...",...,2005-01-01,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Game of Their Lives,False,5.8,16.0
10008,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,38717,tt0206113,en,Madison,"In 1971, air-conditioner repairman and boat en...",...,2001-01-23,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A town's future is riding with one man.,Madison,False,5.3,3.0
10009,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,13020,tt1016268,en,Enron: The Smartest Guys in the Room,"A documentary about the Enron corporation, its...",...,2005-04-22,0.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's Just Business.,Enron: The Smartest Guys in the Room,False,7.2,75.0
10010,False,"{'id': 52785, 'name': 'xXx Collection', 'poste...",60000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",http://www.sonypictures.com/movies/xxxstateoft...,11679,tt0329774,en,xXx: State of the Union,"Ice Cube stars as Darius Stone, a thrill-seeki...",...,2005-04-27,71073932.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Prepare for the next level,xXx: State of the Union,False,4.7,565.0
10011,False,NaN,0,[],http://www.tlareleasing.com/deathofadynasty/,25007,tt0361498,en,Death of a Dynasty,"A story which centers around Dave Katz, a jour...",...,2005-04-29,42108.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Death of a Dynasty,False,4.0,2.0
10012,False,NaN,130000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://www.kingdomofheavendvd.com/,1495,tt0320661,en,Kingdom of Heaven,"After his wife dies, a blacksmith named Balian...",...,2005-05-03,211643158.0,144.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,Be without fear in the face of your enemies. S...,Kingdom of Heaven,False,6.6,1187.0
10013,False,NaN,40000000,"[{'id': 27, 'name': 'Horror'}]",NaN,10066,tt0397065,en,House of Wax,A group of unwitting teens are stranded near a...,...,2005-04-30,68766121.0,113.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Prey. Slay. Display,House of Wax,False,5.5,696.0
10014,False,NaN,6500000,"[{'id': 18, 'name': 'Drama'}]",http://www.crashfilm.com/,1640,tt0375679,en,Crash,Los Angeles citizens with vastly separate live...,...,2004-01-13,98410061.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,You think you know who you are. You have no idea.,Crash,False,7.2,1172.0
10015,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,67445,tt0347369,en,Jiminy Glick in Lalawood,"""La La Wood"" follows the legacy of Jiminy Glic...",...,2004-09-18,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It takes a big man to cover this town.,Jiminy Glick in Lalawood,False,3.3,3.0
10016,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,11171,tt0370986,en,Mysterious Skin,A teenage hustler and a young man obsessed wit...,...,2004-05-20,1524966.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two boys. One can't remember. The other can't ...,Mysterious Skin,False,7.4,266.0
10017,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,14750,tt0089601,en,Mischief,1956: The shy Jonathan's luck with girls chang...,...,1985-02-08,8692426.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The first time seems like the worst time, but ...",Mischief,False,6.2,28.0
10018,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 37, 'nam...",NaN,43260,tt0048233,en,Jubal,Jubal Troop is a cowboy who is found in a weak...,...,1956-04-06,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,THE SOMETIMES VIOLENT STORY OF A DRIFTIN' COWH...,Jubal,False,6.8,17.0
10019,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,11799,tt0059956,fr,Viva Maria!,Traveling players invent the strip tease while...,...,1965-11-22,0.0,120.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Viva Maria!,False,5.8,15.0
10020,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,53116,tt0177747,es,Entre las piernas,"Miranda, a sex addict, works for a radio stati...",...,1999-01-22,0.0,115.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Between Your Legs,False,5.8,9.0
10021,False,"{'id': 96887, 'name': 'Zatôichi: The Blind Swo...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,24444,tt0066602,ja,新座頭市 破れ！唐人剣,Zatoichi is a blind massage therapist and swor...,...,1971-01-13,0.0,94.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Zatôichi Meets the One-Armed Swordsman,False,6.3,12.0
10022,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,83995,tt0053602,en,The Angry Silence,A young factory worker stands alone against a ...,...,1960-03-10,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Rough, Tough, Deeply Moving",The Angry Silence,False,7.4,7.0
10023,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,42626,tt0063141,en,Isadora,"A biography of the dancer Isadora Duncan, the ...",...,1968-09-14,0.0,131.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Life and Many Loves of the Most Exciting W...,Isadora,False,6.2,10.0
10024,False,NaN,1300000,"[{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...",NaN,43881,tt0028216,en,San Francisco,A beautiful singer and a battling priest try t...,...,1936-06-26,5273000.0,115.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She Fell In Love . . . with the toughest guy o...,San Francisco,False,7.0,13.0
10025,False,"{'id': 441443, 'name': 'Ukraine Trilogy', 'pos...",0,"[{'id': 18, 'name': 'Drama'}]",NaN,46594,tt0021571,ru,Земля,"In the peaceful countryside, Vassily opposes t...",...,1930-04-08,0.0,75.0,"[{'iso_639_1': 'uk', 'name': 'Український'}]",Released,NaN,Earth,False,7.1,28.0
10026,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,43344,tt0045361,es,Él,"Francisco is rich, rather strict on principles...",...,1953-07-09,0.0,92.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Another film masterpiece by the director of th...,Él,False,7.8,18.0
10027,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,26614,tt0021739,fr,La Chienne,"Cashier Maurice Legrand is married to Adele, a...",...,1931-11-20,0.0,91.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,La Chienne,False,7.1,19.0
10028,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,133750,tt0085501,es,Eréndira,"While Erendira, a beautiful teenage girl, has ...",...,1983-05-01,0.0,103.0,"[{'iso_639_1': 'pt', 'name': 'Português'}, {'i...",Released,NaN,Eréndira,False,6.0,2.0
10029,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,16902,tt0031826,en,The Private Lives of Elizabeth and Essex,This period drama frames the tumultuous affair...,...,1939-11-11,0.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Elizabeth I's love for the Earl of Essex threa...,The Private Lives of Elizabeth and Essex,False,7.0,12.0
10030,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,41131,tt0040765,en,The Search,"In post war Germany, a dislocated and orphaned...",...,1948-03-26,0.0,104.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,NaN,The Search,False,7.2,15.0
10031,False,NaN,1500000,"[{'id': 18, 'name': 'Drama'}]",NaN,31414,tt0111341,hu,Sátántangó,"In a small, dilapidated village in 1990s Hunga...",...,1994-02-08,0.0,450.0,"[{'iso_639_1': 'hu', 'name': 'Magyar'}]",Released,NaN,Satantango,False,8.1,56.0
10032,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,40730,tt0031754,en,On Borrowed Time,Young Pud is orphaned and left in the care of ...,...,1939-07-07,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Great Broadway Stage Hit Reaches The Screen,On Borrowed Time,False,8.2,6.0
10033,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,15318,tt0413893,ja,茶の味,A spell of time in the life of a family living...,...,2004-07-17,0.0,143.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,The Taste of Tea,False,7.0,32.0
10034,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,13384,tt0064541,en,Kes,"A young, English working-class boy spends his ...",...,1969-11-18,0.0,110.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They beat him. They deprived him. they ridicu...,Kes,False,7.6,95.0
10035,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,48993,tt0036022,en,The Human Comedy,Homer Macauley remains in a small town looking...,...,1943-03-02,0.0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Human Comedy,False,6.5,4.0
10036,False,"{'id': 122952, 'name': 'Vampire Hunter D Colle...",0,"[{'id': 16, 'name': 'Animation'}, {'id': 14, '...",NaN,9463,tt0090248,ja,バンパイアハンターD,In a far-future time ruled by the supernatural...,...,1985-12-21,0.0,80.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Vampire Hunter D,False,6.6,69.0
10037,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,13163,tt0218864,en,Buying the Cow,A commitment-averse man frantically hits the d...,...,2002-01-14,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Why buy the cow, when you can get the milk for...",Buying the Cow,False,5.6,27.0
10038,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,26810,tt0387892,fr,Brodeuses,"French drama, the debut film from writer-direc...",...,2004-05-14,0.0,89.0,[],Released,NaN,A Common Thread,False,5.6,7.0
10039,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,20625,tt0019777,en,The Cocoanuts,"During the Florida land boom, the Marx Brother...",...,1929-08-03,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Paramount's All Talking Musicomedy Sensation,The Cocoanuts,False,7.1,21.0
10040,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,1566,tt0052654,de,Die Brücke,A group of German boys are ordered to protect ...,...,1959-10-21,0.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,They look for love in a world of violence!,The Bridge,False,7.6,34.0
10041,False,NaN,0,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 53,...",NaN,21997,tt0263467,en,In the Time of the Butterflies,In the Time of the Butterflies is inspired by ...,...,2001-10-21,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Women had their place. Hers was in the revolut...,In the Time of the Butterflies,False,6.6,14.0
10042,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30624,tt0040740,en,Road House,A night club owner becomes infatuated with a t...,...,1948-09-22,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's nothing like a woman to come between m...,Road House,False,6.2,7.0
10043,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,44658,tt0093664,ru,Очи черные,"Aboard a ship early in the 20th-century, a mid...",...,1987-02-01,0.0,117.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,"Aboard a ship early in the 20th-century, a mid...",Dark Eyes,False,6.5,20.0
10044,False,NaN,7500000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,48130,tt0245090,en,Edges of the Lord,A 12-year-old Jewish boy hides with a family o...,...,2001-01-01,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Edges of the Lord,False,7.2,15.0
10045,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,27233,tt0116767,ja,キッズ・リターン,Shinji and Masaru spend most of their school d...,...,1996-07-27,0.0,107.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Kids Return,False,7.0,35.0
10046,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 99, 'n...",NaN,41386,tt0441758,en,The Fearless Freaks,"Equal parts punk and psychedelia, the Flaming ...",...,2005-05-25,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The Fearless Freaks,False,7.1,8.0
10047,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,24078,tt0332285,en,Off the Map,An 11-year-old girl watches her father come do...,...,2003-01-22,0.0,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Off the Map,False,5.7,9.0
10048,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 9648, 'n...",NaN,43271,tt0395173,es,Inconscientes,"A Freudian comedy set in Barcelona, 1913, that...",...,2004-08-27,0.0,100.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,Uncover Hidden Desires.,Unconscious,False,6.5,13.0
10049,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,26541,tt0374273,en,The Tesseract,"A psychologist, an Englishman, a bellboy and a...",...,2003-05-15,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Tesseract,False,3.8,5.0

In [14]:
kaggle_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2994,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,13681,tt0087921,en,Places in the Heart,"In 1930s Southern US, a widow and her family t...",...,1984-09-11,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The story of a woman fighting for her children...,Places in the Heart,False,7.1,31.0
38292,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 104...",https://www.nfb.ca/film/flamenco_at_515,244449,tt0085548,en,Flamenco at 5:15,"In this Oscar Winning documentary short film, ...",...,1983-01-01,0.0,29.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,NaN,Flamenco at 5:15,False,6.0,1.0
4614,False,"{'id': 94899, 'name': 'Jeepers Creepers Collec...",10000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,8922,tt0263488,en,Jeepers Creepers,A college-age brother and sister get more than...,...,2001-07-01,59217789.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What’s eating you?,Jeepers Creepers,False,6.1,731.0
416,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,14522,tt0109279,en,Black Beauty,"The fates of horses, and the people who own an...",...,1994-07-29,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Black Beauty,False,6.6,68.0
27731,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,12575,tt0139429,de,Long Hello and Short Goodbye,No overview found.,...,1999-07-15,0.0,95.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Long Hello and Short Goodbye,False,0.0,0.0

In [15]:
len(ratings)

26024289

In [16]:
# First 5 records
ratings[:5]

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [17]:
# Last 5 records
ratings[-5:]

          userId  movieId  rating   timestamp
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

In [18]:
# Some records in the middle
ratings[1000000:1005000]

         userId  movieId  rating   timestamp
1000000   10183      420     3.0   833459603
1000001   10183      421     3.0   833460615
1000002   10183      422     4.0   833461576
1000003   10183      433     4.0   833460968
1000004   10183      434     4.0   833459509
...         ...      ...     ...         ...
1004995   10225    83424     3.0  1383498634
1004996   10225    83956     0.5  1383499195
1004997   10225    87232     1.0  1383500206
1004998   10225    88125     4.5  1383500209
1004999   10225    88405     4.0  1383500516

[5000 rows x 4 columns]

In [19]:
ratings.sample(n=10)

          userId  movieId  rating   timestamp
18224548  189061      475     5.0  1046652812
10987067  113603    69757     0.5  1487621434
20523173  213229    58162     2.0  1334775379
10530534  108699     9010     4.0  1364736243
11009622  113867      253     3.5  1456523058
323522      3437     5956     4.0  1169503299
20030039  208282     7438     1.5  1452547948
2720690    28223     1207     5.0  1337161999
2951070    30747    78637     3.0  1467661185
11335641  117600      553     4.0   998360646

In [20]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [21]:
wiki_movies_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
wiki_movies_df.columns.to_list()

['url',
 'year',
 'imdb_link',
 'title',
 'Directed by',
 'Produced by',
 'Screenplay by',
 'Story by',
 'Based on',
 'Starring',
 'Narrated by',
 'Music by',
 'Cinematography',
 'Edited by',
 'Productioncompany ',
 'Distributed by',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Written by',
 'Genre',
 'Theme music composer',
 'Country of origin',
 'Original language(s)',
 'Producer(s)',
 'Editor(s)',
 'Production company(s)',
 'Original network',
 'Original release',
 'Productioncompanies ',
 'Executive producer(s)',
 'Production location(s)',
 'Distributor',
 'Picture format',
 'Audio format',
 'Voices of',
 'Followed by',
 'Composer(s)',
 'Created by',
 'Also known as',
 'Opening theme',
 'No. of episodes',
 'Preceded by',
 'Author',
 'Publisher',
 'Publication date',
 'Media type',
 'Pages',
 'ISBN',
 'OCLC',
 'LC Class',
 'Cover artist',
 'Series',
 'Set in',
 'Adaptation by',
 'Suggested by',
 'Biographical data',
 'Born',
 'Died',
 'Resting place',
 'Occupation',
 'Years active',
 'Spouse(s)',
 'Children',
 'Parent(s)',
 'Genres',
 'Instruments',
 'Labels',
 'Website',
 'Traditional',
 'Mandarin',
 'Type',
 'Industry',
 'Fate',
 'Founded',
 'Founder',
 'Headquarters',
 'Parent',
 'Released',
 'Recorded',
 'Venue',
 'Length',
 'Label',
 'Director',
 'Producer',
 'Area',
 'Coordinates',
 'Status',
 'Opening date',
 'Closing date',
 'Replaced',
 'Replaced by',
 'Name',
 'Attraction type',
 'Music',
 'Duration',
 'Simplified Chinese',
 'Traditional Chinese',
 'Hanyu Pinyin',
 'Literal meaning',
 'Transcriptions',
 'Bopomofo',
 'Gwoyeu Romatzyh',
 'Wade–Giles',
 'IPA',
 'Yale Romanization',
 'Jyutping',
 'Hokkien POJ',
 'Animation by',
 'Color process',
 'Engine(s)',
 'Genre(s)',
 'Actor control',
 'Production company',
 'Release(s)',
 'Format(s)',
 'Simplified',
 'Characters',
 'Date premiered',
 'Place premiered',
 'Setting',
 'Original language',
 'Subject',
 'Published',
 'Dewey Decimal',
 'Text',
 'Illustrator',
 'Original title',
 'Published in English',
 'French',
 'Developed by',
 'Ending theme',
 'No. of seasons',
 'Nationality',
 'Portrayed by',
 'Alias',
 'Species',
 'Gender',
 'Family',
 'Alma mater',
 'Camera setup',
 'Novel(s)',
 'Comics',
 'Film(s)',
 'Screen story by',
 'Hangul',
 'Revised Romanization',
 'McCune–Reischauer',
 'Developer(s)',
 'Publisher(s)',
 'Designer(s)',
 'Programmer(s)',
 'Artist(s)',
 'Writer(s)',
 'Engine',
 'Platform(s)',
 'Release',
 'Mode(s)',
 'Original work',
 'Television series',
 'Japanese',
 'Hepburn',
 'Literally',
 'Cantonese',
 'Full name',
 'Height',
 'Seasons',
 'Chinese',
 'Other names',
 'Relatives',
 'Yiddish',
 'Formerly',
 'Key people',
 'Total assets',
 'Owner',
 'Number of employees',
 'Divisions',
 'Subsidiaries',
 'Arabic',
 'Romanized',
 'Predecessor',
 'Founders',
 'Area served',
 'Products',
 'Services',
 'Russian',
 'Hebrew',
 'Revenue',
 'Operating income',
 'Polish']

In [23]:
wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]
len(wiki_movies)

7076

In [24]:
wiki_movies_filter1_df = pd.DataFrame(wiki_movies)

In [25]:
wiki_movies_filter1_df

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Hepburn,Literally,Cantonese,Chinese,Yiddish,Arabic,Romanized,Russian,Hebrew,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,"After Dark, My Sweet",James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,Air America,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7071,https://en.wikipedia.org/wiki/Holmes_%26_Watson,2018,https://www.imdb.com/title/tt1255919/,Holmes & Watson,Etan Cohen,"[Will Ferrell, Adam McKay, Jimmy Miller, Clayt...",Etan Cohen,NaN,"[Sherlock Holmes, and, Dr. Watson, by, Sir Art...","[Will Ferrell, John C. Reilly, Rebecca Hall, R...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7072,https://en.wikipedia.org/wiki/Vice_(2018_film),2018,https://www.imdb.com/title/tt6266538/,Vice,Adam McKay,"[Brad Pitt, Dede Gardner, Jeremy Kleiner, Kevi...",NaN,NaN,NaN,"[Christian Bale, Amy Adams, Steve Carell, Sam ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7073,https://en.wikipedia.org/wiki/On_the_Basis_of_Sex,2018,https://www.imdb.com/title/tt4669788/,On the Basis of Sex,Mimi Leder,Robert W. Cort,NaN,NaN,NaN,"[Felicity Jones, Armie Hammer, Justin Theroux,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7074,https://en.wikipedia.org/wiki/Destroyer_(2018_...,2018,https://www.imdb.com/title/tt7137380/,Destroyer,Karyn Kusama,"[Fred Berger, Phil Hay, Matt Manfredi]",NaN,NaN,NaN,"[Nicole Kidman, Sebastian Stan, Toby Kebbell, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7075,https://en.wikipedia.org/wiki/Black_Mirror:_Ba...,2018,https://www.imdb.com/title/tt9495224/,Bandersnatch,David Slade,Russell McLean,NaN,NaN,NaN,"[Fionn Whitehead, Will Poulter, Craig Parkinso...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
#1. Make an empty dict to hold all of the alternative titles
def clean_movie(movie):
    movie = dict(movie) #create a non-destructive copy
    alt_titles = {}
    
    #Loop through list of all alternative title keys
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune–Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        
        #Check if current key exists in the movie object
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key) #remove the key-value pair and add to alternative titles dict
    if len(alt_titles) > 0: #after looping through every key, add the alternative titles dict to movie object
        movie['alt_titles'] = alt_titles

    return movie

In [31]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [32]:
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

['Adaptation by',
 'Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Country of origin',
 'Created by',
 'Directed by',
 'Director',
 'Distributed by',
 'Distributor',
 'Edited by',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'Length',
 'Music by',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Original release',
 'Picture format',
 'Preceded by',
 'Produced by',
 'Producer',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Productioncompanies ',
 'Productioncompany ',
 'Recorded',
 'Release date',
 'Released',
 'Running time',
 'Screen story by',
 'Screenplay by',
 'Starring',
 'Story by',
 'Suggested by',
 'Theme music composer',
 'Venue',
 'Voices of',
 'Written by',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']